/* Colors variables start */
$white_color: #FFFFFF;
$gray_white_color: #f1f1f1;
$ahb_color: #000000;
$apb_color: #353535;
$blue_color: #0872b9;
/* Colors variables end */

/* Font sizes and weight variables start */
$fs13px: 13px;
$fs14px: 14px;
$fs24px: 24px;

$fw400: 400;
$fw500: 500;
/* Font sizes and weight variables end */

/* Colors variables start */
/* Colors variables end */
/* Colors variables start */
/* Colors variables end */